body{
  margin:1rem;
  padding:0;
  box-sizing: border-box;
}
.form {
  display:flex;
  justify-content: center;
}
.form input{
  min-width:auto;
  padding:5px;
  font-size: 1.2rem;
  border:2px solid grey;
}
.buttons{
  width:auto;
}
.one-row{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  width:auto;
}
.one-row button{
  padding:6px;
  margin:6px;
}
.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cover{
  border:2px solid grey;
  padding:1rem;
  background-color: rgb(94, 92, 98);
  color:white;
}